<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.anhuicsmall.product.mapper.CartMapper">


    <!--List<CartListVO> selectCartListByUserId(Long userId);-->
    <select id="selectCartListByUserId" resultMap="QueryResultToCart">
        SELECT ups_user.id uid,
               ups_spu.id  sid,
               ups_spu.title,
               ups_spu.index_price,
               ups_spu.brand_name,
               ups_spu.category_name,
               ups_spu.tags,
               ups_spu.num,
               ups_spu.detail,
               ups_picture.url
        FROM csmall_ups.ups_cart
                 JOIN csmall_ups.ups_user
                      ON ups_user.id = ups_cart.user_id
                 JOIN csmall_ups.ups_spu
                      ON ups_cart.spu_id = ups_spu.id
                 JOIN csmall_ups.ups_picture
                      ON ups_spu.album_id = ups_picture.album_id
        WHERE ups_picture.is_cover = 1
          AND ups_spu.is_published = 1
          AND ups_spu.is_checked = 1
          AND ups_user.id = #{userId};
    </select>
    <resultMap id="QueryResultToCart" type="cn.tedu.anhuicsmall.product.pojo.vo.CartListVO">
        <id column="uid" property="userId"/>
        <id column="sid" property="spuId"/>
        <result column="title" property="title"/>
        <result column="index_price" property="indexPrice"/>
        <result column="brand_name" property="brandName"/>
        <result column="category_name" property="categoryName"/>
        <result column="tags" property="tags"/>
        <result column="url" property="url"/>
    </resultMap>
</mapper>
